<header class="header">
  <div class="header-logo">
    <img src="images/train_logo.jpg" alt="" />
  </div>
  <div class="navbar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="'active'">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="'active'"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="'active'"
          >Contact</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="authService.isAuthenticated() ? null : '/login'"
          (click)="authService.isAuthenticated() ? logout() : null"
          routerLinkActive="active"
        >
          {{ authService.isAuthenticated() ? "Logout" : "Login" }}
        </a>
      </li>

      <li *ngIf="!authService.isAuthenticated()" class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active"
          >Register</a
        >
      </li>
    </ul>
  </div>
</header>
