.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: cornflowerblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
