.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: cornflowerblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
